
@{
    ViewBag.Title = "Index";
}

<h2>View Orders Customer</h2>

<input type="button"
       value="Make Payment"
       onclick="location.href= '@Url.Action("Index", "Payment" )' " class="btn btn-default" />

