
@{
    ViewBag.Title = "Index";
    string amViewProductsSeller = "ShowProducts";
    string cnViewProductsSeller = "Seller";
}

<h2>Index</h2>
<input type="button"
       value="View Products"
       onclick="location.href= '@Url.Action(@amViewProductsSeller, @cnViewProductsSeller )' " class="btn btn-default" />
