
@{
    ViewBag.Title = "Index";
    //string btnPlaceOrder = "Place Order";
    string amPayment = "Index";
    string cnPayment = "Payment";
    string amEditProfile = "Index";
    string cnEditProfile = "EditProfile";
    string amViewCart = "ViewCart";
    string cnViewCart = "Customer";
}

<h2>View Products</h2>


@if (Session["userid"] != null)
{
    <p>
        userid is @Session["userid"]
    </p>
}

@*<input type="button"
       value="Make Payment"
       onclick="location.href= '@Url.Action(@amPayment, @cnPayment )' " class="btn btn-default" />*@

<input type="button"
       value="Edit Profile"
       onclick="location.href= '@Url.Action(@amEditProfile, @cnEditProfile )' " class="btn btn-default" />

<input type="button"
       value="View Cart"
       onclick="location.href= '@Url.Action(@amViewCart, @cnViewCart )' " class="btn btn-default" />


